* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    direction: rtl;
    text-align: right;
    margin: 0;
    border: none;
    padding: 0;
    font-family: 'Arial (Hebrew)', Helvetica, sans-serif;
}

/* header and top nav */
nav > ul {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    top: 172px;
    padding: 0;
    bottom: 0;
}
nav > ul > li > a {
    color: white;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
}
nav > ul > li > a:hover{
    color: #005C9C;
    text-decoration: underline; 
}
nav > ul > li > a, .dd-items > a {
    color: #FCFBFC;
    text-decoration: none;
    padding: 10px;
    display: block;
}
.topnav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 900px;
    margin: 0 auto;
}
.dropdown {
    position: relative;
}
.dd-items {
    background-color: silver;
    color: white;
    width: max-content;
    top: 70%;
    display: none;
    position: absolute;
}
.dropdown:hover > .dd-items {
    color:#C77A35;
    display: block;
}
.content {
    margin: 0;
}
header {
    margin-top: 0;
    background-color: silver;
    color: #fff;
    height: 105px;
    width: 100vw;
}

/* page 1 main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    margin: 0 auto;
    padding: 0;
}
.row1, .row2 {
    display: flex;
    width: 900px;
    justify-content: space-around;
}

.row1 {
    margin-top: 30px;
    margin-bottom: 10px;
    justify-content: space-around;
}
.row2 {
    margin-top: 18px;
}

.row1 > .column {
    width: 293px;
    height: 355px;
}

.row2 > .column {
    width: 292px;
    height: 216px;
}
.searchbox {
    width: 152px;
    position: absolute;
    top: 20px;
    left: 10px;
}

.row1 .content img {
    border-radius: 0px 0px 30px 0px;
}
.row2 .content {
    width: 292px;
    height: 216px;
    border: solid lightgray 1px;
    background-image: linear-gradient(to bottom right, white, lightgray);
    border-radius: 0px 30px 0px 0px;
    font-size: 14px;
    font-weight: bold;
}
.mapbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row2 .content div:first-child {
    text-align: center;
}

.row2 .content div:nth-child(2) {
    margin: 10px auto;
}

/* page 2 main */

.row3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid lime;
}

.sidemenu {
    border: solid palevioletred;
}
.mid {
    display: flex;
    flex-direction: column;
    border: solid aquamarine;
}
.leftbox {
    display: flex;
    flex-direction: column;
    border: solid purple
}
/* footer */
footer{
    position: fixed;
    background-color: silver;
    bottom: 0;
    width: 97%;
    height: 38px;
}
