* {
    box-sizing: border-box;
}
body{
    direction: rtl;
    text-align: right;
    font-family: 'Arial (Hebrew)', Helvetica, sans-serif;
}

nav {
    background-color: #008CBA;
}



nav > ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav > ul > li > a{
    color: #D6FFFB;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}
nav > ul > li > a:hover{
    background-color: #0079A1;
}
div.content {
    border: solid gray;
    background-color: lightgray;
    margin: 5px;
  }